@model BO_TP01Module06.Samourai

<h4>Samourai</h4>
<hr />
<dl class="dl-horizontal">
    @* FORCE *@
    <dt>
        @Html.DisplayNameFor(model => model.Force)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Force)
    </dd>

    @* NOM *@
    <dt>
        @Html.DisplayNameFor(model => model.Nom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nom)
    </dd>

    @* ARME *@
    <dt>
        @Html.DisplayNameFor(model => model.Arme)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Arme.Nom)
    </dd>

    @* ARTS MARTIAUX *@
    <dt>
        @Html.DisplayNameFor(model => model.ArtsMartiaux)
    </dt>

    <dd>
        @Html.ListBoxFor(model => model.ArtsMartiaux, Model.ArtsMartiaux.Select(ar => new SelectListItem { Value = ar.Nom, Text = ar.Nom }))
    </dd>