@model TP02Module05_Partie_1.Pizza

<h4>Pizza</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Nom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Pate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Pate.Nom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Ingredients)
    </dt>

    <dd>
        @Html.ListBoxFor(model => model.Ingredients, Model.Ingredients.Select(s => new SelectListItem { Value = s.Nom, Text = s.Nom }))
    </dd>
</dl>